@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://unpkg.com/react-quill@1.3.3/dist/quill.snow.css");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "MyFont";
  src: url("./fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "MyFont", sans-serif;
  padding: 0;
  margin: 0;
}
z textarea {
  resize: none;
}
